@font-face { font-family: CircularXX-Black ; 
    src: url('../font/CircularXX-Black.otf'); } 


*
{
    box-sizing:border-box;
    margin:0;
    padding: 0;
}
body
{
    background-color: #eae7dc;
}
/* navbar styling*/
header{
   /*width: 1920px;*/ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #5b4962;
    box-shadow: 0 4px 4px -4px rgba(0,0,0,.4);
}

li,a
{
   
    font-weight: 500;
    color: #ffffff;
    font-family: "CircularXX-Black";
    font-size: 20px;
    text-decoration: none;
}

.logo 
{
    cursor: pointer;
    font-weight: 300;
    font-family: "CircularXX-Black";
    color: #ffffff;
    font-size: 35px;
}

.navLinks
{
   list-style: none;

}
.navLinks li{
    display: inline-block;
    padding: 0px 20px;
}

.navLinks li a{
    transition: all 0.3s ease 0s;
}

.navLinks li a:hover{
    color: black;
}
/*navbar styling end*/

/* head styling */

.head{
    height: 10%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    background-color: #5b4962;
}

.span
{ color: #f1be48;
    

}
.heading
{
   color: #ffffff;
   font-family: "CircularXX-Black";
   font-size: 80px;
   font-weight: 700;
   font-style: normal;
   letter-spacing: normal;
   line-height: normal;
   text-align: left;
   margin-left: 120px;
   padding-bottom: 30px;
   padding-top: 50px;
}
/* head styling ends */


/* para styling starts */
h5{
    color: #5b4962;
font-family: "CircularXX-Black";
font-size: 22px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-align: left;
padding-left: 150px;
padding-top: 30px;
}

.para{
    color: #5b4962;
font-family: "CircularXX-Black";
font-size: 18px;
font-weight: 300;
font-style: normal;
letter-spacing: normal;
line-height: 30px;
text-align: left;
padding-left: 150px;
padding-top: 20px;

}
.span1{
    font-size: 10px;
font-style: normal;
letter-spacing: normal;
line-height: normal;
}
/* para styling ends */


/* div1 styling starts */
.div1 {
    display: flex;
}

.div1-child {
    flex: 1;
    
}

h3{
    color: #5b4962;
font-family: "CircularXX-Black";
font-size: 35px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: 45px;
text-align: left;
padding-top: 90px;
}
.span2{
    font-size: 20px;
font-style: normal;
letter-spacing: normal;
line-height: normal;
}
.momboy-img
{
border-radius: 17px;
padding-left: 150px;
}
/* div1 styling ends */

/* para2 styling starts */

.para2
{
    color: #5b4962;
font-family: "CircularXX-Black";
font-size: 18px;
font-weight: 300;
font-style: normal;
letter-spacing: normal;
line-height: 30px;
text-align: left;
/* Text style for "Cochlear F" */
font-style: normal;
letter-spacing: normal;
line-height: normal;
padding-left: 150px;
}
.span3
{
    font-size: 12px;
font-weight: 300;
font-style: italic;
letter-spacing: normal;
line-height: 30px;
}
/* para2 styling ends */

/* seprationdiv starts */
.seprationdiv h4 hr
{   margin-top: 80px;
    margin-left: 100px;
   margin-right: 100px;
    border: none;
    border-top: 1px solid #5b4962;
    border-radius: 30%;
}

/* seprationdiv ends */

/* div2 styling starts */

.div2
{
    background-color: #eae7dc;
    display: flex;
    /* padding-top: 700px;
    padding-bottom: 0px; */
}

.heading3
  {
      color: #5b4962;
    font-family: "CircularXX-Black";
    font-size: 65px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    padding-left: 150px;
    display: inline-block;
    padding-bottom: 50px;
    padding-top: 50px;
    
  } 

  
/* div2 styling ends */


/* div3 styling starts */
.div3
{
    background-color: #eae7dc;
    display: flex;
}
.div3-child {
    flex: 1;
    
} 
.pampletimg{
    border-radius: 15px;
   width: 80%;
   padding-left: 150px;
} 
.para6{
    color: #5b4962;
font-family: "CircularXX-Black";
font-size: 18px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: 30px;
text-align: left;
padding-bottom: 30px;
padding-top: 15px;

}
.heading4{
    color: #5b4962;
font-family: "CircularXX-Black";
font-size: 24px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-align: left;
padding-top: 10px;
padding-bottom: 0px;
}

.shortword
{
    color: #5b4962;
font-family: "CircularXX-Black";
font-size: 15px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: 30px;
text-align: left;
padding-top: 15px;
}

.img1
{
    padding-top: 25px;
}
.img2
{
    padding-top: 25px;
}
.corrected
{
    margin-top: 60px;
}
/* div3 styling ends */



/* footer styling starts */

.footer
{
background-color: #5b4962;
display: flex;
margin-top: 20px;
}
.footer-child {
    flex: 1;
   
}  
.heading5
{
color: #f0bd46;
font-family: "CircularXX-Black";
font-size: 30px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-align: left;
padding: 20px 100px 10px;
}

.para7
{
    color: #ffffff;
font-family: "CircularXX-Black";
font-size: 18px;
font-weight: 300;
font-style: normal;
letter-spacing: normal;
line-height: 30px;
text-align: left;
padding: 20px 20px;
}

/* footer styling ends */