@font-face { font-family: CircularXX-Black ; 
    src: url('../font/CircularXX-Black.otf'); } 


*
{
    box-sizing:border-box;
    margin:0;
    padding: 0;
}

/* navbar styling*/
header{
   /*width: 1920px;*/ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #5b4962;
    box-shadow: 5px 9px 18px rgba(0, 0, 0, 0.16);
}

li,a
{
   
    font-weight: 500;
    color: #ffffff;
    font-family: "CircularXX-Black";
    font-size: 20px;
    text-decoration: none;
}

.logo 
{
    cursor: pointer;
    font-weight: 300;
    font-family: "CircularXX-Black";
    color: #ffffff;
    font-size: 35px;
}

.navLinks
{
   list-style: none;

}
.navLinks li{
    display: inline-block;
    padding: 0px 20px;
}

.navLinks li a{
    transition: all 0.3s ease 0s;
}

.navLinks li a:hover{
    color: black;
}
/*navbar styling end*/

/* head styling */

.head{
    height: 10%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    background-color: #5b4962;
}

.span
{ color: #f1be48;
    

}
.heading
{
    color: #ffffff;
    font-family: "CircularXX-Black";
    font-size: 40px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
   margin-left: 120px;
   padding-bottom: 30px;
}
/* head styling ends */

/* video box styling */

body
{
    background-color: #eae7dc;
    
    
}

.video-box
{
    width: 50%;
    height: 60vh;
    margin-top: 50px;
    margin-left: 280px;
    justify-content: center;
    border-radius: 1%;
    box-shadow: 5px 5px 3px grey;
   
}
/* video box styling ends */







/* footer styling starts */

.footer
{
background-color: #5b4962;
display: flex;
margin-top: 20px;
}
.footer-child {
    flex: 1;
   
}  
.heading5
{
color: #f0bd46;
font-family: "CircularXX-Black";
font-size: 30px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-align: left;
padding: 20px 100px 10px;
}

.para7
{
    color: #ffffff;
font-family: "CircularXX-Black";
font-size: 18px;
font-weight: 300;
font-style: normal;
letter-spacing: normal;
line-height: 30px;
text-align: left;
padding: 20px 20px;
}

/* footer styling ends */

