@font-face {
    font-family: 'CircularXX';
    src: url('CircularXX-Regular.woff2') format('woff2'),
        url('CircularXX-Regular.woff') format('woff'),
        url('CircularXX-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


*
{
    box-sizing:border-box;
    margin:0;
    padding: 0;
}
body
{
    background-color: #eae7dc;
}
/* navbar styling*/
header{
   /*width: 1920px;*/ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #5b4962;
    box-shadow: 0 4px 4px -4px rgba(0,0,0,.4);
}

li,a
{
   
    font-weight: 500;
    color: #ffffff;
    font-family: "CircularXX";
    font-size: 20px;
    text-decoration: none;
}

.logo 
{
    cursor: pointer;
    font-weight: 300;
    font-family: "CircularXX";
    color: #ffffff;
    font-size: 35px;
}

.navLinks
{
   list-style: none;

}
.navLinks li{
    display: inline-block;
    padding: 0px 20px;
}

.navLinks li a{
    transition: all 0.3s ease 0s;
}

.navLinks li a:hover{
    color: black;
}
/*navbar styling end*/

/* div1 styling starts */

.div1
{
    background-color: #5b4962;
    height: 125vh;
}
h1
{
    color: #ffffff;
font-family: "CircularXX";
font-size: 72px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-align: left;
padding-left: 150px;
margin-bottom: -130px;
padding-top: 20px;
}
h5
{
    color: #ffffff;
font-family: "CircularXX";
font-size: 22px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-align: left;
padding-left: 150px;
padding-top: 50px;
}

.first
{   position: absolute;
    z-index: 2; 
      width: 80%;
    padding-top: 280px;
    padding-left: 180px;
   
}
.yellow-card
{   position: absolute;
    z-index: 1; 
    width: 68%;
    margin-top: 290px;
    margin-left: 160px;
    height: 524px;
   
}
/* div1 styling ends */


/* para and heading styling */

h2{
    color: #5b4962;
font-family: "CircularXX";
font-size: 35px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-align: left;
padding-left: 150px;
margin-top: 80px;
}
h3{
    color: #5b4962;
font-family: "CircularXX";
font-size: 22px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-align: left;
padding-left: 150px;

}

p{
    color: #5b4962;
font-family: "CircularXX";
font-size: 18px;
font-weight: 300;
font-style: normal;
letter-spacing: normal;
line-height: 30px;
text-align: left;
padding-left: 150px;
padding-top: 20px;
}
span{
    font-size: 10px;
font-style: normal;
letter-spacing: normal;
line-height: normal;
}

/* image div styling */

.img-2{
    position: absolute;
    z-index: 2;
    padding-left: 150px;
    border-radius: 26px;
width: 80%;
padding-top: 20px;
}
.yellow-card2
{position: absolute;
    z-index: 1;
    padding-left: 130px;
    margin-top: 15px;
    border-radius: 26px;
width: 80%;
padding-top: 20px;
}

.para2
{
    margin-top: 450px;
}

#para
{
    color: #5b4962;
font-family: "CircularXX";
font-size: 12px;
font-weight: 300;
font-style: italic;
letter-spacing: normal;
line-height: 30px;
text-align: left;
}

/* seprationdiv starts */
.seprationdiv h4 hr
{   margin-top: 80px;
    margin-left: 100px;
   margin-right: 100px;
    border: none;
    border-top: 1px solid #5b4962;
    border-radius: 30%;
}

/* seprationdiv ends */

/* div2 styling starts */

.div2
{
    background-color: #eae7dc;
    display: flex;
    /* padding-top: 700px;
    padding-bottom: 0px; */
}

.heading3
  {
      color: #5b4962;
    font-family: "CircularXX";
    font-size: 65px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    padding-left: 150px;
    display: inline-block;
    padding-bottom: 50px;
    padding-top: 50px;
    
  } 

  
/* div2 styling ends */

/* div4 styling starts */
.div4
{
    display: flex;
}
.div4-child
{
    flex: 1;
}
.para2{
    color: #5b4962;
    font-family: "CircularXX";
    font-size: 22px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 35px;
    text-align: left;
    padding-top: 30px;
    padding-left: 40px;
    
}
.second-img
{
    width: 541px;
height: 408px;
margin-left: 150px;
}

/* div4 styling ends */


/* div3 styling starts */
.div3
{
    background-color: #eae7dc;
    display: flex;
}
.div3-child {
    flex: 1;
    padding-top: 50px;
    
} 
.pampletimg{
    border-radius: 15px;
   width: 80%;
   padding-left: 150px;
  
} 
.para6{
    color: #5b4962;
font-family: "CircularXX";
font-size: 18px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: 30px;
text-align: left;
padding-bottom: 30px;
margin-top: 115px;
margin-left: -180px;

}
.heading4{
    color: #5b4962;
font-family: "CircularXX";
font-size: 24px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-align: left;
padding-top: 10px;
padding-bottom: 0px;
margin-left: -180px;
}
.correction
{
    margin-top: -60px;
}

.shortword
{
    color: #5b4962;
font-family: "CircularXX";
font-size: 15px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: 30px;
text-align: left;
padding-top: 15px;
margin-left: -180px;
}

.img1
{
    padding-top: 25px;
}
.img2
{
    padding-top: 25px;
}
.corrected
{
    margin-top: 60px;
}
.dot {
    width: 9px;
height: 9px;
background-color: #efbd46;
    border-radius: 50%;
    display: inline-block;
   
    
  }
/* div3 styling ends */



/* footer styling starts */

.footer
{
background-color: #5b4962;
display: flex;
margin-top: 20px;
}
.footer-child {
    flex: 1;
   
}  
.heading5
{
color: #f0bd46;
font-family: "CircularXX";
font-size: 30px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-align: left;
padding: 20px 100px 10px;
}

.para7
{
    color: #ffffff;
font-family: "CircularXX";
font-size: 18px;
font-weight: 300;
font-style: normal;
letter-spacing: normal;
line-height: 30px;
text-align: left;
padding: 20px 20px;
}

/* footer styling ends */