<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="wc-ref" content="< D1851837>">
    <title>home</title>
    <link rel="stylesheet" href="../css/style2.css">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
   <header>
       <a href="#" class="logo">Cochlear Foundation</a>
    <nav class="nav">
        <ul class="navLinks">
            <li><a href="#">our history</a> </li>
            <li><a href="#">our impact</a> </li>
            <li><a href="#">case studies</a> </li>
            <li><a href="#">contact us</a> </li>
            
        </ul>
    </nav>
   </header>
   
   
<!-- slider html starts here -->
<div class="slider-box">
    <div id="slider">
        <img class="slider-img" src="" alt="">
        <img src="../images/malala2.png" alt="">
        <img src="../images/malala2.png" alt="">
        <div class="text-on-img">
          <h1 class="on-img-heading"> Our work with <br> <span class="malalafund">Malala Fund</span> </h1>
          <button class="btn-1">See case study></button>
        </div>
    </div>
    <div class="indicators">
        <span id="btn1" class="active"></span>
        <span id="btn2"></span>
        <span id="btn3"></span>

    </div>
    <!-- slider js starts -->
   <script>
       var slide=document.getElementById("slider");
       var btn1=document.getElementById("btn1");
       var btn2=document.getElementById("btn2");
       var btn3=document.getElementById("btn3");

       btn1.onclick=function()
       {
          slide.style.transform="translateX(0px)";
          btn1.classList.add("active");
          btn2.classList.remove("active");
          btn3.classList.remove("active");
       }
       btn2.onclick=function()
       {
          slide.style.transform="translateX(-100%)";
          btn2.classList.add("active");
          btn1.classList.remove("active");
          btn3.classList.remove("active");
       }
       btn3.onclick=function()
       {
          slide.style.transform="translateX(-200%)";
          btn3.classList.add("active");
          btn1.classList.remove("active");
          btn2.classList.remove("active");

       }
   </script>
   <!-- slider js ends -->
</div>
<!-- slider html ends here -->
<!-- div1 starts here -->
<div class="div1">

    <div class="div1-child">
      <p class="para1">
          Working <br> 
       <span class="golbally">globally</span>  <br>
        to address <br>
        hearing loss.  </p>
    </div>
    
    <div class="div1-child">
      <p class="para2">
        We aim to raise awareness of hearing loss and help more people <br> around the world access life-changing hearing treatment. We <br> envision a world where anyone, anywhere with hearing loss can <br> live a life full of opportunities. <br><br>

        To achieve this, we advance research in hearing treatment, <br> encourage the education and skill development of healthcare <br> professionals and support community efforts towards inclusivity. <br><br>
        
        We strive to benefit the whole community, helping those with <br> hearing loss access hearing treatment, such as implantable <br> technologies. 
        </p>
    </div>
    
  </div>
  <!-- div1 ends here -->

  <!-- div2 starts here -->
  <div class="div2">

    <div class="div2-img">
    <img class="first" src="../images/homepage-ourhistory.png" alt="">
    </div>
    
    <div class="div2-child">
       <h1 class="heading">Our <span class="history">history</span></h1>
       <p class="para3">Cochlear Foundation was established in 2005, driven by a desire to help more people hear. To accomplish this, we aim to reduce the impact of hearing loss on individuals and societies. <br> <br>

        Hearing health is an issue that affects many of us, and it’s impacting more people every day. According to the World Health Organization, approximately 1.5 billion people live with some degree of hearing loss, and that’s projected to grow to 2.5 billion by 2050. <span class="1"> 1</span> <br><br>
        
        We aim for a world where everyone can access hearing treatment and a life rich with potential. 
        </p>

        <button class="btn-2">more on impact > </button>
    </div>
    
  </div>
  <!-- div2 ends here -->
    <!-- div3 starts here -->
    <div class="div3">

        <div class="div3-child">
          <h1 class="heading2">Our Impact</h1>
          <p class="para4">Stories that shape us</p>
          <button class="btn-3">more on impact > </button>
        </div>
        
        <div class="div3-child">
          <p class="para5">
            Hearing loss is a global issue that requires greater global awareness and a global solution. We support organisations and programs with the aim of: <br><br>

            <span class="dot"></span> Furthering education for hearing health professionals to fortify the  importance of screening, prevention, early intervention, treatment  and support.  <br>
            <span class="dot"></span> Increasing research into the impacts of hearing loss and  implantable hearing treatment and amplifying the outcomes to  broaden awareness. <br>
            <span class="dot"></span>  Championing programs that enrich the lives of those with hearing  loss and their communities.
          </p>

          
          </div>
          
      </div>
    <!-- div3 ends here -->

    <div class="seprationdiv">
      <h4>
          <hr>
      </h4>
  </div>
      
<!-- div4 starts here -->

<div class="div4">
    <h1 class="heading3">Case Studies</h1>
</div>
<!-- div4 ends here -->



    <!-- div5 starts here -->

        

        <div class="div5">
          <div class="div5-child">
           <img src="../images/pampletimage1.png" alt="" class="pampletimg img1">
       </div>
       
         <div class="div5-child">
          <p class="shortword">In Vietnam </p>
          <h1 class="heading4">Global Foundation for Children with Hearing Loss ></h1>
           <p class="para6">Helped develop a national standard to training in auditory-verbal therapy,
               supporting some of Vietnam’s children under five who live with hearing loss. Auditory-verbal
               therapy helps young children learn skills for listening and speaking,
               so they can go on to develop thinking and social skills. </p>
           </div>
           </div>
          
           <div class="div5">
           
           <div class="div5-child">
               <img src="../images/papletimage2.png" alt="" class="pampletimg img2">
           </div>
           <div class="div5-child">
               <p class="shortword corrected">In Australia</p>
          <h1 class="heading4 ">The Shepherd Centre > </h1>
          <p class="para6 ">Supporting ongoing research and access to hearing treatment
              services for children, as well as outreach services for remote and
               rural communities. Through their HearHub, the Shepherd Centre’s
                world-leading Early Intervention System is set to reach even more
                 people beyond Australian shores. </p>
           </div>
         </div>
          
       
         <div class="div5">
       
           <div class="div5-child">
               <img src="../images/pampletimage3.png" alt="" class="pampletimg img3">
           </div>
           <div class="div5-child">
               <p class="shortword">Across the world </p>
          <h1 class="heading4">Malala Fund ></h1>
          <p class="para6">Raising awareness of the needs of girls, children and young
               people  with hearing loss, promoting their equal rights to an
                education and opportunities that enable them to realise their full
                 potential. </p>
           </div>
         </div>
          
    <!-- div5 ends here -->


    <footer class="footer">
        <div class="footer-child">
            <h6 class="heading5">contact</h6>
            <h6 style="color: white; padding: 20px 100px;">contact@cochlearfoundation.org</h6>
          </div>
          
          <div class="footre-child">
            <p class="para7">Please be mindful that Cochlear Foundation is an invite-only grant-making organisation. We <br> distribute local grants that align with our aim to raise awareness of hearing loss and help more <br> people around the world access life-changing hearing treatment.</p>
          </div>
       
    </footer>
</body>
</html>